<style>
    .error{color: red};
</style>

    <h1>Sign In</h1>

    <form action="/validat_login" method='POST'>
    <p>
    <label>User Name
        <input  type="text" name="user_name" value="{{user_name}}"/>
    </label>
        <span class="error">{{user_name_error}}</span>
    </p>

    <p>
    <label>password
        <input type="password" name="password" />
    </label>
        <span class="error">{{password_error}}</span>
    </p>

    <p>
    <label>Verify Password
        <input type="password" name="verify_Password" />
    </label>
        <span class="error">{{verify_error}}</span>
    </p>

    <p>
    <label>Email
        <input type="text" name="email" value="{{email}}"/>
    </label>
        <span class ="error">{{email_error}}</span>
    </p>

        <input type="submit" value="Submit" />
    </form>
